/Billedgenkendelse/nbproject/private/
/Lektion6/nbproject/private/
/Lektion6/build/
/AndeArray/nbproject/private/
/Billedgenkendelse/build/
/EdgeDetector/nbproject/private/
/DeepakTranslator/nbproject/private/
/DeepakTranslator/build/